# ================================
# Gradle
# ================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar  # <-- оставить wrapper
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# ================================
# Java
# ================================
*.class
*.log
*.ctxt
*.jar
*.war
*.ear

# ================================
# IDEs and tools
# ================================
# IntelliJ
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ================================
# OS and misc
# ================================
.DS_Store
Thumbs.db
*.swp
*.swo

# ================================
# Test reports and temporary files
# ================================
test-results/
test-report/
kls_database.db
